/android/build/
/android/libs/
/android/release/
/android/android.iml
/android/assets/sfx/sounds/in_game/
/core/build/classes/java/main/com/gadarts/parashoot/
/core/build/libs/
/core/build/tmp/jar/
/core/core.iml
/desktop/build/
/desktop/desktop.iml
/.gradle/
/.idea/
/build/
/ios/
/server/site/HTML5Application/
/parashoot.iml
/gradle.properties
/gradle/wrapper/
/gradlew
/gradlew.bat
/local.properties
/parashoot.ipr
